---
---

@import "minimal-light";

.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2em;
}

.accordion-item {
  border-top: 1px solid #ccc;
}

.accordion-header {
  background: #f7f7f7;
  border: none;
  width: 100%;
  text-align: left;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}

.accordion-body {
  display: none;
  padding: 1em;
  background: #fff;
}

.accordion-item.active .accordion-body {
  display: block;
}

